body {
    /* 초기 마진 값 설정 */
    /* background-color: rgb(236, 51, 51); */
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

a {
    /* 리스트 점 삭제 > 리스트 밑줄 삭제 */
    list-style: none;
    text-decoration: none;
}

header {
    /* 아이콘+로고는 폰트사이즈로 크기 결정 */
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 9px -1px;
    color: rgb(204, 204, 204);

    font-size: 120px;
    font-family: 'Zen Loop'; 

    height: 150px;
    
    /* 플렉스 > 가운데 정렬 */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 1em;
    margin-right: 1em;


    

    
}

header .icon_text {
    /* background-color: rgb(205, 205, 223); */
    color: #00ccaa;

}

header .logo i {
    /* background-color: blueviolet; */

    font-size: 60px;
    color: #00ccaa;

}


nav {
    margin-top: -10px;
    /* margin-left: 9.5em;
    margin-right: 9.5em; */
    
    height: 80px;
    width: ;
    /* background-color: black; */

    margin-left: 10em;
    margin-right: 10em;
}

nav .menu__bar {
    background-color: #00ccaa;
    /* background-color: rgba(0, 0, 0, 0.199); */
    margin: 0;
    padding: 0;
    border-radius: 10px;
    
    line-height: 80px;

    display: flex;
    justify-content: space-around; 
    width: 100%;
 
}

nav .menu__bar .menu {
    /* background-color: blue; */
    color: rgb(3, 3, 3);
    font-family: 'Zen Loop';
    font-size: 35px;

    width: 100%;
    
    /* background-color: rgb(215, 215, 255); */

}

nav .menu__bar .menu:hover {
    /* background-color: #8d8d8d69; */
    width: 100%;
    color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: center;
  
    text-decoration: underline;
}

.home i {
    background-color: rgba(190, 54, 54, 0);
    color: #00ccaa;
    font-size: 30px;   
}

/* 부모1 */
main {
    /* background-color: bisque; */
    height: 630px;
    width: 100%;
    

}
/* 부모1 > 부모2 */
main .img {
    display: flex;
    flex-direction: column;
    

    /* 이미지 원형만들기(1) */
    width: 100%;

    text-align: center;
    
    /* 해당 영역을 넘어가는 것을 방지 */
    /* overflow: hidden;
    margin-top: 20px;
    
    margin: 0 12vw; */
    margin-top: 30px;
    
}

/* 부모1 > 부모2-1 > 자식 */
main .img img {
    /* 이미지 원형만들기(2) */
    /* width: 100%;
    height: 100%;
    object-fit: cover; */

    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 70%;

}


/* 부모1 > 부모2-2 > 자식 */
/* 영어속담 */
main .proverb .text1,.text2 {
    margin: 0;
    font-family: 'Zen Loop';
    font-size: 35px;
    /* background-color: #00ccaa; */
    text-align: center;
    color: rgb(34, 34, 34);
    margin-top: 30px;
}
/* 금강산 */
main .proverb .text2 {
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Roboto';
    font-size: 15px;
}

/* 하단 카피 */
footer {
    background-color: #00ccaa;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
footer .copy {
    color: #616060;
    font-size: 12px;
}


@media screen and (min-width: 700px) {
    nav {
        
    }






}











